<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="game.sanguo.mobile.MapEditor67Instrumentation"
        android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.SiegeInstrumentation"
        android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.SceneInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.FieldSceneInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.CombatSceneInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.InteractionSceneInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.PerformanceSceneInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.FinalSceneInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.TerrainMaterialInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.WaterLandformInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.EnvironmentInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.NationwideInstrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
    <instrumentation android:name="game.sanguo.mobile.NativeR00Instrumentation" android:targetPackage="game.sanguo.mobile.dev" android:functionalTest="true" />
</manifest>
